<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogly</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>Users</h1>
    <!-- add loop here for list of names -->
    <ul>
        {% for user in users %}
        <li><a href="/{{user.id}}">{{user.greet()}}</a></li>
        {% endfor %}
    </ul>
    <form action="/users/new">
    <input type="submit" name="Add User" value="Add User" id="add_user">
</form>
<form action="/tags">
    <input type="submit" name="View Tags" id="view_tags" value="View Tags">
</form>
</body>
</html>