<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
</head>
<body>
    <h1>{{post.post_title()}}</h1>
    <h3>{{post.post_content()}}</h3>
    <p>BY {{user.greet()}}</p>
    <form action="">
    <button formaction="/{{user.id}}">Cancel</button>
    <button formaction="/users/{{user.id}}/posts/{{post.id}}/edit" formmethod="GET">Edit</button>
    <button formaction="/users/{{user.id}}/posts/{{post.id}}/delete" formmethod="POST">Delete</button>
    </form>
</body>
</html>