<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
</head>
<body>
    <h1> Add post for {{user.greet()}}</h1>
    <form action="/users/{{user.id}}/posts/new" method="POST">
        <input type="text" name="title" id="post-title" placeholder="Post Title">
        <input type="text" name="content" id="post-content" placeholder="Post Content">
        <button type="submit">Add Post</button>
        <a href="/{{user.id}}">Cancel</a>   
    </form>
</body>
</html>