<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1> Edit post for {{user.greet()}}</h1>
    <form action="" method="POST">
        <input type="text" name="title" id="post-title" placeholder="Post Title" value="{{post.post_title()}}">
        <input type="text" name="content" id="post-content" placeholder="Post Content" value="{{post.post_content()}}">
        <button type="submit">Add Post</button>
        <a href="/{{user.id}}">Cancel</a>   
        {% for tag in tags %}
    <div>
      <input class="form-check-input"
             type="checkbox"
             value="{{ tag.id }}"
             id="tag{{ tag.id }}"
             {% if tag in post.tags %} checked {% endif %}
             name="tags">
      <label class="form-check-label" for="tag{{ tag.id }}">
        {{ tag.tag_name() }}
      </label>
    </div>
    {% endfor %}
  </div>
    </form>
    
</body>
</html>